[submodule "vendor/gitid"]
	path = vendor/gitid
	url = https://github.com/hgto/gitid
[submodule "vendor/fzf-pane-switch.tmux"]
	path = vendor/fzf-pane-switch.tmux
	url = https://github.com/Kristijan/fzf-pane-switch.tmux
[submodule "vendor/tmux-fzf-url"]
	path = vendor/tmux-fzf-url
	url = https://github.com/junegunn/tmux-fzf-url
